.features__item{
    padding: 2.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;

    &-title{
        font-size: 1.25rem;
    }

    &-icon{
        width: 152px;
        aspect-ratio: 1;
        border-radius: 9999px;
        border: 10px solid #00bc77;
        padding: 1rem;
    }
}