.card{
    text-align: center;
    padding: 2.5rem;

    &__icon{
        width: 150px;
        border: 10px solid #00bc77;
        border-radius: 9999px;
        padding: 1rem;
    }

    &__title{
        font-size: 1.25rem;
        font-weight: bold;
        margin: 1.2rem 0 1rem;
    }

    &__text{
        font-weight: 300;
    }
}