.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 300px;
    align-items: center;

    @media screen and (min-width:900px) {
        justify-content: end;
        height: 400px;
    }

    &__background{
        width: 100%;
        position: absolute;
        z-index: -10;
        height: 100%;
        object-fit: cover;
    }

    &__content{
        background-color: white;
        height: fit-content;
        padding: 2rem;
        margin: 2rem;
    }
}

.features{
    text-align: center;

    @media screen and (min-width:900px) {
        display: flex;
    }
}